<%= render partial: "shared/nav" %>

<h1>Create New Bulk Discount</h1>

<%= form_with model: [@merchant, @bulk_discount], local: true do |form| %>
  <%= form.label :percentage_discount %>
  <%= form.number_field :percentage_discount %>
  
  <%= form.label :quantity_threshold %>
  <%= form.number_field :quantity_threshold %>
  
  <%= form.submit "Create Discount" %>
<% end %>
